{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>{% block title %}Home{% endblock title %}</title>

		<!-- Loading third party fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="https://weatherstaticfiles.s3.us-east-2.amazonaws.com/style.css">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="{% static 'FinalProject/images/logo.png' %}" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Weather</h1>
							<small class="site-description">Check for your cities weather</small>
						</div>
					</a>
					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="menu-item"><a href="{% url 'weather_maps' %}">Weather Maps</a></li>
							<li class="menu-item"><a href="{% url 'featured_weather' %}">Featured Weather</a></li>
							{% if user.is_authenticated %}
							<li class="menu-item"><a href="{% url 'profile_page' %}">My Profile</a></li>
							<li class="menu-item"><a href="{% url 'logout' %}">Logout</a></li>
							{% else %}
							<li class="menu-item"><a href="{% url 'login' %}">Login</a></li>
								<li class="menu-item"><a href="{% url 'register' %}">Sign up</a></li>
							{% endif %}
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->
{% block body %}
			<div class="hero">

				<div class="container">
					<form action="{% url 'find_weather' %}" class="find-location" method="post">
						{% csrf_token %}
						<input type="text" name="location" placeholder="Find your location...">
						<input type="submit" value="Find">
					</form>
				</div>

				<div class="forecast-table">
					<div class="container">
						<div class="forecast-container">
							<div class="today forecast">
								<div class="forecast-header">
									<div class="day">{{datetime}}</div>
								</div> <!-- .forecast-header -->
								<div class="forecast-content">
									<div class="location">Your Weather: {{user.location}}</div>
									<div class="degree">
										<div class="num">{{data.main.temp}}<sup>o</sup>F</div>
										<div class="forecast-icon">
											<img src="images/icons/icon-1.svg" alt="" width=90>
										</div>
									</div>
									<p>Feels like {{data.main.feels_like}}. {{main}}. {{description}}</p>
									<span><img src="{% static 'FinalProject/images/icon-umberella.png' %}" alt="">20% chance</span>
									<span><img src="{% static 'FinalProject/images/icon-wind.png' %}" alt="">{{data.wind.speed}} km/h</span>
									<span><img src="{% static 'FinalProject/images/icon-compass.png' %}" alt="">{{data.wind.deg}}</span>
									<span>Humidity: {{data.main.humidity}}%</span>
									<span>Visibility: {{data.visibility}}</span>
									<span>Pressure: {{data.main.pressure}}hPa</span>
								</div>
								<p>Max Temperature: {{data.main.temp_max}}</p>
								<p>Min Temperature: {{data.main.temp_min}}</p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<main class="main-content">



				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<h2 class="section-title">Application features</h2>
								<ul class="arrow-feature">
									<li>
										<h3>Natus error sit voluptatem accusantium</h3>
										<p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto beatae vitae.</p>
									</li>
									<li>
										<h3>Natus error sit voluptatem accusantium</h3>
										<p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto beatae vitae.</p>
									</li>
									<li>
										<h3>Natus error sit voluptatem accusantium</h3>
										<p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto beatae vitae.</p>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<h2 class="section-title">Weather analyssis</h2>
								<ul class="arrow-list">
									<li><a href="#">Accusantium doloremque laudantium rem aperiam</a></li>
									<li><a href="#">Eaque ipsa quae ab illo inventore veritatis quasi</a></li>
									<li><a href="#">Architecto beatae vitae dicta sunt explicabo</a></li>
									<li><a href="#">Nemo enim ipsam voluptatem quia voluptas</a></li>
									<li><a href="#">Aspernatur aut odit aut fugit, sed quia consequuntur</a></li>
									<li><a href="#">Magni dolores eos qui ratione voluptatem sequi</a></li>
									<li><a href="#">Neque porro quisquam est qui dolorem ipsum quia</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->
{% endblock body %}
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-md-offset-1">

						</div>
					</div>

					<p class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved</p>
					<p class="colophon">*All credit goes to Themezy</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>
		
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>
