{% extends "FinalProject/index.html" %}
{% load static %}
{% block body %}
	<main class="main-content">
		<div class="container">
			<div class="breadcrumb">
				<a href="{% url 'index' %}">Home</a>
				<span>Login</span>
			</div>
		</div>

<br>
        <div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day">Login Today</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<form action="{% url 'login' %}" method="post">
									<p>{{message}}</p>

                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" name="password" placeholder="Password">
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Login">
                                </form>

                        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
							</div>
						</div>

					</div>
				</div>
			</div>
	</main> <!-- .main-content -->
{% endblock body %}
